{
    "swagger": "2.0",
    "info": {
        "description": "HKUST-NFT Server API",
        "title": "HKUST-NFT",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "unifit.ust.hk:8889",
    "basePath": "/api/v2",
    "paths": {
        "/act/act-count": {
            "get": {
                "description": "get action count",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ActCount"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/act/all-action": {
            "get": {
                "description": "get all act",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ActRes"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/act/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "create activity",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "parameters": [
                    {
                        "description": "参数均不可为空",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.PostActCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/act/delete": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "delet activity",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "parameters": [
                    {
                        "description": "活动ID不可为空",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.ActRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/act/edit": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "edit activity",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "parameters": [
                    {
                        "description": "ID不可为空，其他可为空",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.PostActEditRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/act/info": {
            "get": {
                "description": "get activity information",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "ID不可为空",
                        "name": "act_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/act/item-list": {
            "get": {
                "description": "get activity item list",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "act id",
                        "name": "act_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page num",
                        "name": "page_num",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "page_size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "whether sorted by votes or not",
                        "name": "rank_vote",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "whether sorted by time or not",
                        "name": "rank_time",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/act/upload-item": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "upload item to activity, means students join this activity",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "parameters": [
                    {
                        "description": "ID均不可为空",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.PostActUploadItemRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/act/vote": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "student votes for item in activity",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "act"
                ],
                "parameters": [
                    {
                        "description": "参数均不可为空",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.PostActVoteRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/collection/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collection"
                ],
                "parameters": [
                    {
                        "description": "名称、描述和一些标签，其中标签可以为空，其余参数不可为空",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.CreateCollectionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/collection/edit": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "collection"
                ],
                "parameters": [
                    {
                        "description": "输入想要修改的名称、描述和标签 collection_id不能为空，其他都可以为空",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.EditCollectionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/item/create": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "item"
                ],
                "parameters": [
                    {
                        "description": "info needed to upload",
                        "name": "param_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.CreateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.CreateParamsResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/item/edit": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "item"
                ],
                "parameters": [
                    {
                        "description": "info needed to upload",
                        "name": "param_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.EditParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ItemResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/item/like": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "item"
                ],
                "parameters": [
                    {
                        "description": "item id",
                        "name": "item_id",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.LikeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ItemResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/item/transfer": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "item"
                ],
                "parameters": [
                    {
                        "description": "item needed to transfer",
                        "name": "param_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.TransferParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.TransferItemResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/list/collection": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "list"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "collection id",
                        "name": "collection_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.Collection"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/list/collection-list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "list"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "page num",
                        "name": "page_num",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "page_size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "keyword",
                        "name": "keyword",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "rank favorite",
                        "name": "rank_favorite",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "rank time",
                        "name": "rank_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "user id",
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "label",
                        "name": "label",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ListResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/list/item": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "list"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "item id",
                        "name": "item_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ItemResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/list/item-history": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "list"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "item id",
                        "name": "item_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ListResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/list/item-list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "list"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "page num",
                        "name": "page_num",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "page_size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "user id",
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "user like",
                        "name": "user_like",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "user collect",
                        "name": "user_collect",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "user create",
                        "name": "user_create",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "category",
                        "name": "category",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "keyword",
                        "name": "keyword",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "rank favorite",
                        "name": "rank_favorite",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "rank time",
                        "name": "rank_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "collection id",
                        "name": "collection_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "label",
                        "name": "label",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ListResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/list/user-list": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "list"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "keyword",
                        "name": "keyword",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pagesize",
                        "name": "page_size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page num",
                        "name": "page_num",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ListResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/tk/info": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get token balance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "tk"
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/tk/transfer": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "transfer token form one account to another account",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "tk"
                ],
                "parameters": [
                    {
                        "description": "参数均不可为空",
                        "name": "param_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.PostTokenTransferRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/upload/cos": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "upload"
                ],
                "parameters": [
                    {
                        "type": "file",
                        "description": "任何数据",
                        "name": "data",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/upload/ipfs-and-cos": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "upload"
                ],
                "parameters": [
                    {
                        "type": "file",
                        "description": "任何数据",
                        "name": "data",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/activate": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "Email token sent to users",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/edit-profile": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "用户名称、组织名称、老师还是学生",
                        "name": "RequestParam",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/v2.Edit_ProfileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/forget-passwd": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "登录用的邮箱和密码",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.Forget_PasswdRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/info": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "user_id",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "登录用的邮箱和密码",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/register": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "邮箱和密码",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.RegisterRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/rerun-email": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "邮箱",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.RerunEmailRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/reset-passwd": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "邮箱、验证码密码",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.Reset_PasswdRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        },
        "/user/update-passwd": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "登录用的邮箱和密码",
                        "name": "RequestParam",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v2.Update_PasswdRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation Succeed, code: 0 More details please refer to https://elliptic.larksuite.com/wiki/wikusjnG1KzGnrpQdmzjlqxDQVf",
                        "schema": {
                            "$ref": "#/definitions/v2.ModelResponse"
                        }
                    },
                    "400": {
                        "description": "Input error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err1000"
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "schema": {
                            "$ref": "#/definitions/v2.Err2000"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "entity.Item": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string",
                    "example": "Pixel Bear"
                },
                "collection_id": {
                    "type": "integer",
                    "example": 1
                },
                "collection_name": {
                    "type": "string",
                    "example": "Pixel Bear"
                },
                "create-time": {
                    "type": "string",
                    "example": "2022-06-16 22:04:22"
                },
                "creater_id": {
                    "type": "string",
                    "example": "mazhengwang-ust-hk"
                },
                "description": {
                    "type": "string",
                    "example": "A very cute pixel bear with hammer"
                },
                "favorite": {
                    "type": "boolean",
                    "example": false
                },
                "item_data": {
                    "type": "string"
                },
                "item_id": {
                    "type": "string",
                    "example": "123455"
                },
                "item_name": {
                    "description": "basic info",
                    "type": "string",
                    "example": "hahhahah"
                },
                "lable": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "Music",
                        "Comics"
                    ]
                },
                "like_count": {
                    "type": "integer",
                    "example": 100
                },
                "owner_id": {
                    "type": "string",
                    "example": "mazhengwang-ust-hk"
                }
            }
        },
        "v2.ActCount": {
            "type": "object",
            "properties": {
                "act_count": {
                    "type": "integer",
                    "example": 100
                }
            }
        },
        "v2.ActRequest": {
            "type": "object",
            "properties": {
                "act_id": {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "v2.ActRes": {
            "type": "object",
            "properties": {
                "act_id": {
                    "type": "integer",
                    "example": 1
                },
                "act_image": {
                    "type": "string",
                    "example": "abc.com"
                },
                "act_name": {
                    "type": "string",
                    "example": "the first activity"
                },
                "create_time": {
                    "type": "string",
                    "example": "2022-06-18 20:45:40"
                },
                "creater_id": {
                    "type": "string",
                    "example": "ssscaxxadw05130"
                },
                "description": {
                    "type": "string",
                    "example": "It is funny"
                },
                "end_time": {
                    "type": "string",
                    "example": "2022-06-20 20:45:40"
                },
                "item_num": {
                    "type": "integer",
                    "example": 100
                },
                "start_time": {
                    "type": "string",
                    "example": "2022-06-18 20:45:40"
                }
            }
        },
        "v2.Collection": {
            "type": "object",
            "properties": {
                "banner_image": {
                    "type": "string",
                    "example": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2Fsvc_rQkHVGf3aMI14v3pN-ZTI7uDRwN-QayvixX-nHSMZBgb1L1LReSg1-rXj4gNLJgAB0-yD8ERoT-Q2Gu4cy5AuSg-RdHF9bOxFDw%3Ds10000?fit=max\u0026h=2500\u0026w=2500\u0026auto=format\u0026s=61a1f05fd1f4a891c9b8fc197befc0a9"
                },
                "collection_id": {
                    "type": "string",
                    "example": "111111"
                },
                "collection_name": {
                    "type": "string",
                    "example": "Doodles"
                },
                "creation_time": {
                    "type": "string",
                    "example": "2022-06-16 20:45:40"
                },
                "description": {
                    "type": "string",
                    "example": "A community-driven collectibles project featuring art by Burnt Toast. Doodles come in a joyful range of colors, traits and sizes with a collection size of 10,000. Each Doodle allows its owner to vote for experiences and activations paid for by the Doodles Commun"
                },
                "feature_image": {
                    "type": "string",
                    "example": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2Fsvc_rQkHVGf3aMI14v3pN-ZTI7uDRwN-QayvixX-nHSMZBgb1L1LReSg1-rXj4gNLJgAB0-yD8ERoT-Q2Gu4cy5AuSg-RdHF9bOxFDw%3Ds10000?fit=max\u0026h=2500\u0026w=2500\u0026auto=format\u0026s=61a1f05fd1f4a891c9b8fc197befc0a9"
                },
                "item_num": {
                    "type": "integer",
                    "example": 20
                },
                "label": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "Comics"
                    ]
                },
                "logo_image": {
                    "type": "string",
                    "example": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2F7B0qai02OdHA8P_EOVK672qUliyjQdQDGNrACxs7WnTgZAkJa_wWURnIFKeOh5VTf8cfTqW3wQpozGedaC9mteKphEOtztls02RlWQ%3Ds10000?fit=max\u0026h=120\u0026w=120\u0026auto=format\u0026s=65b159799dcff448deaf9106b1ead13e"
                },
                "owner_id": {
                    "type": "string",
                    "example": "zezhending-ust-hk"
                },
                "owner_name": {
                    "type": "string",
                    "example": "ZZD"
                }
            }
        },
        "v2.CreateCollectionRequest": {
            "type": "object",
            "properties": {
                "banner_image": {
                    "type": "string",
                    "default": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2Fsvc_rQkHVGf3aMI14v3pN-ZTI7uDRwN-QayvixX-nHSMZBgb1L1LReSg1-rXj4gNLJgAB0-yD8ERoT-Q2Gu4cy5AuSg-RdHF9bOxFDw%3Ds10000?fit=max\u0026h=2500\u0026w=2500\u0026auto=format\u0026s=61a1f05fd1f4a891c9b8fc197befc0a9P"
                },
                "banner_image_signature": {
                    "type": "string",
                    "default": "ABCDE"
                },
                "collection_name": {
                    "type": "string",
                    "default": "Pixel Pear",
                    "example": "Pixel Pear"
                },
                "description": {
                    "type": "string",
                    "default": "Happy Happy Happy Happy",
                    "example": "Happy Happy Happy Happy"
                },
                "feature_image": {
                    "type": "string",
                    "default": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2Fsvc_rQkHVGf3aMI14v3pN-ZTI7uDRwN-QayvixX-nHSMZBgb1L1LReSg1-rXj4gNLJgAB0-yD8ERoT-Q2Gu4cy5AuSg-RdHF9bOxFDw%3Ds10000?fit=max\u0026h=2500\u0026w=2500\u0026auto=format\u0026s=61a1f05fd1f4a891c9b8fc197befc0a9"
                },
                "feature_image_signature": {
                    "type": "string",
                    "default": "ABCDE"
                },
                "label": {
                    "type": "string",
                    "default": "Pear\u0026Pixel\u0026Wechat",
                    "example": "Pear\u0026Pixel\u0026Wechat"
                },
                "log_image_signature": {
                    "type": "string",
                    "default": "ABCDE"
                },
                "logo_image": {
                    "type": "string",
                    "default": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2Fsvc_rQkHVGf3aMI14v3pN-ZTI7uDRwN-QayvixX-nHSMZBgb1L1LReSg1-rXj4gNLJgAB0-yD8ERoT-Q2Gu4cy5AuSg-RdHF9bOxFDw%3Ds10000?fit=max\u0026h=2500\u0026w=2500\u0026auto=format\u0026s=61a1f05fd1f4a891c9b8fc197befc0a9"
                }
            }
        },
        "v2.CreateParams": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string",
                    "example": "image"
                },
                "collection_id": {
                    "type": "integer",
                    "example": 1
                },
                "description": {
                    "type": "string",
                    "example": "A very cute pixel bear with hammer"
                },
                "item_data_cos": {
                    "type": "string",
                    "example": "https://img1.baidu.com/it/u=1783064339,1648739044\u0026fm=253\u0026fmt=auto\u0026app=138\u0026f=GIF?w=240\u0026h=240"
                },
                "item_data_ipfs": {
                    "type": "string",
                    "example": "https://img1.baidu.com/it/u=1783064339,1648739044\u0026fm=253\u0026fmt=auto\u0026app=138\u0026f=GIF?w=240\u0026h=240"
                },
                "item_data_signature": {
                    "type": "string",
                    "example": "sfahelkgbekjbfbsauiehnv"
                },
                "item_name": {
                    "type": "string",
                    "example": "Pixel Bear With Hammer"
                },
                "label": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "Music",
                        "Comics"
                    ]
                }
            }
        },
        "v2.CreateParamsResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "example": 0
                },
                "data": {
                    "$ref": "#/definitions/entity.Item"
                },
                "msg": {
                    "type": "string",
                    "example": "Operation succeed"
                }
            }
        },
        "v2.EditCollectionRequest": {
            "type": "object",
            "properties": {
                "banner_image": {
                    "type": "string",
                    "default": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2Fsvc_rQkHVGf3aMI14v3pN-ZTI7uDRwN-QayvixX-nHSMZBgb1L1LReSg1-rXj4gNLJgAB0-yD8ERoT-Q2Gu4cy5AuSg-RdHF9bOxFDw%3Ds10000?fit=max\u0026h=2500\u0026w=2500\u0026auto=format\u0026s=61a1f05fd1f4a891c9b8fc197befc0a9P"
                },
                "banner_image_signature": {
                    "type": "string",
                    "default": "ABCDE"
                },
                "collection_id": {
                    "type": "integer",
                    "default": 111111,
                    "example": 111111
                },
                "collection_name": {
                    "type": "string",
                    "default": "Pixel Pear",
                    "example": "Pixel Pear"
                },
                "description": {
                    "type": "string",
                    "default": "Happy Happy Happy Happy",
                    "example": "Happy Happy Happy Happy"
                },
                "feature_image": {
                    "type": "string",
                    "default": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2Fsvc_rQkHVGf3aMI14v3pN-ZTI7uDRwN-QayvixX-nHSMZBgb1L1LReSg1-rXj4gNLJgAB0-yD8ERoT-Q2Gu4cy5AuSg-RdHF9bOxFDw%3Ds10000?fit=max\u0026h=2500\u0026w=2500\u0026auto=format\u0026s=61a1f05fd1f4a891c9b8fc197befc0a9"
                },
                "feature_image_signature": {
                    "type": "string",
                    "default": "ABCDE"
                },
                "label": {
                    "type": "string",
                    "default": "Pear\u0026Pixel\u0026Wechat",
                    "example": "Pear,Pixel,Wechat"
                },
                "log_image_signature": {
                    "type": "string",
                    "default": "ABCDE"
                },
                "logo_image": {
                    "type": "string",
                    "default": "https://img-ae.seadn.io/https%3A%2F%2Flh3.googleusercontent.com%2Fsvc_rQkHVGf3aMI14v3pN-ZTI7uDRwN-QayvixX-nHSMZBgb1L1LReSg1-rXj4gNLJgAB0-yD8ERoT-Q2Gu4cy5AuSg-RdHF9bOxFDw%3Ds10000?fit=max\u0026h=2500\u0026w=2500\u0026auto=format\u0026s=61a1f05fd1f4a891c9b8fc197befc0a9"
                }
            }
        },
        "v2.EditParams": {
            "type": "object",
            "properties": {
                "collection_id": {
                    "type": "string",
                    "example": "Pixel Bear"
                },
                "description": {
                    "type": "string",
                    "example": "A very cute pixel bear with hammer"
                },
                "item_id": {
                    "type": "string",
                    "example": "1001"
                },
                "item_name": {
                    "type": "string",
                    "example": "Pixel Bear With Hammer"
                },
                "label": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "Music ",
                        "Comics"
                    ]
                }
            }
        },
        "v2.Edit_ProfileRequest": {
            "type": "object",
            "properties": {
                "avatar_image": {
                    "type": "string",
                    "default": "teacher",
                    "example": "https://unifit-1311571861.cos"
                },
                "avatar_image_signature": {
                    "type": "string",
                    "default": "teacher",
                    "example": "abc"
                },
                "banner_image": {
                    "type": "string",
                    "default": "teacher",
                    "example": "https://unifit-1311571861.cos"
                },
                "banner_image_signature": {
                    "type": "string",
                    "default": "teacher",
                    "example": "abc"
                },
                "logo_image": {
                    "type": "string",
                    "default": "https://unifit-1311571861.cos.ap-guangzhou.myqcloud.com/unifit/nft.jpg?q-sign-algorithm=sha1\u0026q-ak=AKIDRikVzB8oDKBm68tOcYDcka9RSDhurYx5\u0026q-sign-time=1656428492%3B1656432092\u0026q-key-time=1656428492%3B1656432092\u0026q-header-list=host\u0026q-url-param-list=\u0026q-signature=949835db0f086df54adc09d6e53dde318a74c2b6",
                    "example": "https://unifit-1311571861.cos.ap-guangzhou.myqcloud.com/unifit/nft.jpg?q-sign-algorithm=sha1\u0026q-ak=AKIDRikVzB8oDKBm68tOcYDcka9RSDhurYx5\u0026q-sign-time=1656428492%3B1656432092\u0026q-key-time=1656428492%3B1656432092\u0026q-header-list=host\u0026q-url-param-list=\u0026q-signature=949835db0f086df54adc09d6e53dde318a74c2b6"
                },
                "logo_image_signature": {
                    "type": "string",
                    "default": "teacher",
                    "example": "abc"
                },
                "organization": {
                    "type": "string",
                    "default": "HKUST-GZ",
                    "example": "HKUST-GZ"
                },
                "poison": {
                    "type": "string",
                    "default": "teacher",
                    "example": "teacher"
                },
                "user_name": {
                    "type": "string",
                    "default": "Hunter",
                    "example": "Hunter"
                }
            }
        },
        "v2.Err1000": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "default": 1000,
                    "example": 1000
                },
                "msg": {
                    "type": "string",
                    "default": "Input Error",
                    "example": "Input Error"
                }
            }
        },
        "v2.Err2000": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "default": 2000,
                    "example": 2000
                },
                "msg": {
                    "type": "string",
                    "default": "Server Error",
                    "example": "Server Error"
                }
            }
        },
        "v2.Forget_PasswdRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "default": "mingzheliu@ust.hk",
                    "example": "mingzheliu@ust.hk"
                }
            }
        },
        "v2.Item": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string",
                    "example": "image"
                },
                "collection_id": {
                    "type": "string",
                    "example": "Pixel Bear"
                },
                "create_time": {
                    "type": "string",
                    "example": "2022-06-16 22:04:22"
                },
                "creater_id": {
                    "type": "string",
                    "example": "mingzheliu-ust-hk"
                },
                "description": {
                    "type": "string",
                    "example": "A very cute pixel bear with hammer"
                },
                "favorite": {
                    "type": "boolean",
                    "example": false
                },
                "item_data": {
                    "type": "string",
                    "example": "https://img1.baidu.com/it/u=1783064339,1648739044\u0026fm=253\u0026fmt=auto\u0026app=138\u0026f=GIF?w=240\u0026h=240"
                },
                "item_id": {
                    "type": "string",
                    "example": "1010"
                },
                "item_name": {
                    "type": "string",
                    "example": "Pixel Bear With Hammer"
                },
                "label": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "Music ",
                        "Comics"
                    ]
                },
                "like_count": {
                    "type": "integer",
                    "example": 100
                },
                "owner_id": {
                    "type": "string",
                    "example": "mingzheliu-ust-hk"
                }
            }
        },
        "v2.ItemResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "example": 0
                },
                "data": {
                    "$ref": "#/definitions/v2.Item"
                },
                "msg": {
                    "type": "string",
                    "example": "Operation succeed"
                }
            }
        },
        "v2.LikeRequest": {
            "type": "object",
            "properties": {
                "item_id": {
                    "type": "string",
                    "example": "1"
                }
            }
        },
        "v2.ListResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "example": 0
                },
                "data": {},
                "msg": {
                    "type": "string",
                    "example": "Operation succeed"
                }
            }
        },
        "v2.LoginRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "default": "mingzheliu@ust.hk",
                    "example": "mingzheliu@ust.hk"
                },
                "passwd": {
                    "type": "string",
                    "default": "Abcd123456",
                    "example": "Abcd123456"
                }
            }
        },
        "v2.ModelResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "description": "错误码",
                    "type": "integer",
                    "default": 0,
                    "example": 0
                },
                "data": {
                    "description": "返回数据",
                    "type": "string",
                    "example": ""
                },
                "msg": {
                    "description": "错误描述",
                    "type": "string",
                    "default": "Operation Succeed",
                    "example": "Operation Succeed"
                }
            }
        },
        "v2.PostActCreateRequest": {
            "type": "object",
            "properties": {
                "act_image": {
                    "type": "string",
                    "example": "abc.com"
                },
                "act_image_signature": {
                    "type": "string",
                    "example": "abc.com"
                },
                "act_name": {
                    "type": "string",
                    "example": "the first activity"
                },
                "description": {
                    "type": "string",
                    "example": "It is funny"
                },
                "end_time": {
                    "type": "string",
                    "example": "2022-06-20 20:45:40"
                },
                "start_time": {
                    "type": "string",
                    "example": "2022-06-18 20:45:40"
                }
            }
        },
        "v2.PostActEditRequest": {
            "type": "object",
            "properties": {
                "act_id": {
                    "type": "integer",
                    "example": 1
                },
                "act_image": {
                    "type": "string",
                    "example": "abc.com"
                },
                "act_name": {
                    "type": "string",
                    "example": "the first activity"
                },
                "description": {
                    "type": "string",
                    "example": "It is funny"
                },
                "end_time": {
                    "type": "string",
                    "example": "2022-06-20 20:45:40"
                },
                "start_time": {
                    "type": "string",
                    "example": "2022-06-18 20:45:40"
                }
            }
        },
        "v2.PostActUploadItemRequest": {
            "type": "object",
            "properties": {
                "act_id": {
                    "type": "integer",
                    "example": 1
                },
                "item_id": {
                    "type": "string",
                    "example": "2"
                }
            }
        },
        "v2.PostActVoteRequest": {
            "type": "object",
            "properties": {
                "act_id": {
                    "type": "integer",
                    "example": 1
                },
                "item_id": {
                    "type": "string",
                    "example": "2"
                }
            }
        },
        "v2.PostTokenTransferRequest": {
            "type": "object",
            "required": [
                "from_user_id",
                "to_user_id",
                "token_num"
            ],
            "properties": {
                "from_user_id": {
                    "type": "string",
                    "example": "mazhengwang-ust-hk"
                },
                "to_user_id": {
                    "type": "string",
                    "example": "mzliu"
                },
                "token_num": {
                    "type": "number",
                    "example": 100
                }
            }
        },
        "v2.RegisterRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "default": "mingzheliu@ust.hk",
                    "example": "mingzheliu@ust.hk"
                },
                "passwd": {
                    "type": "string",
                    "default": "Abcd123456",
                    "example": "Abcd123456"
                }
            }
        },
        "v2.RerunEmailRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "default": "mingzheliu@ust.hk",
                    "example": "mingzheliu@ust.hk"
                }
            }
        },
        "v2.Reset_PasswdRequest": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string",
                    "default": "456WER",
                    "example": "466568"
                },
                "email": {
                    "type": "string",
                    "default": "mingzheliu@ust.hk",
                    "example": "mingzheliu@ust.hk"
                },
                "new_Passwd": {
                    "type": "string",
                    "default": "Abcd12345",
                    "example": "Abcd12345"
                }
            }
        },
        "v2.TransferItemResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "example": 0
                },
                "data": {
                    "$ref": "#/definitions/entity.Item"
                },
                "msg": {
                    "type": "string",
                    "example": "Operation succeed"
                }
            }
        },
        "v2.TransferParams": {
            "type": "object",
            "properties": {
                "item_id": {
                    "type": "string",
                    "example": "1010"
                },
                "to_user_id": {
                    "type": "string",
                    "example": "zhengwang-ust-hk"
                }
            }
        },
        "v2.Update_PasswdRequest": {
            "type": "object",
            "properties": {
                "new_passwd": {
                    "type": "string",
                    "default": "Abcd1234567",
                    "example": "Abcd1234567"
                },
                "old_passwd": {
                    "type": "string",
                    "default": "Abcd123456",
                    "example": "Abcd123456"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}