basePath: /api/v1
definitions:
  base.Response:
    properties:
      code:
        description: 错误码
        type: integer
      data:
        description: 返回数据
      msg:
        description: 错误描述
        type: string
    type: object
host: unifit.ust.hk:8888
info:
  contact: {}
  description: HKUST-NFT Server API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: HKUST-NFT
  version: "1.0"
paths:
  /item/create:
    post:
      consumes:
      - application/json
      parameters:
      - description: item_name
        in: query
        name: item_name
        required: true
        type: string
      - description: item_data
        in: query
        name: item_data
        required: true
        type: string
      - description: description
        in: query
        name: description
        required: true
        type: string
      - description: item_collection
        in: query
        name: item_collection
        required: true
        type: string
      - description: label
        in: query
        name: label
        required: true
        type: string
      produces:
      - application/json
      responses:
        "0":
          description: 'Operation Succeed, code: 0'
          schema:
            type: integer
        "1000":
          description: request error
          schema:
            type: integer
        "2000":
          description: error code and message and nil data
          schema:
            $ref: '#/definitions/base.Response'
      tags:
      - item
  /item/edit:
    post:
      consumes:
      - application/json
      parameters:
      - description: item-id
        in: query
        name: item-id
        type: string
      - description: name
        in: query
        name: item_name
        type: string
      - description: description
        in: query
        name: description
        type: string
      - description: collection
        in: query
        name: collection_id
        type: string
      - description: label
        in: query
        name: label
        type: string
      produces:
      - application/json
      responses:
        "0":
          description: 'Operation Succeed, code: 0'
          schema:
            type: integer
        "1000":
          description: request error
          schema:
            type: integer
        "2000":
          description: error code and message and nil data
          schema:
            $ref: '#/definitions/base.Response'
      tags:
      - item
  /item/like:
    post:
      consumes:
      - application/json
      parameters:
      - description: item-id
        in: query
        name: item-id
        type: string
      produces:
      - application/json
      responses:
        "0":
          description: Operation Succeed
          schema:
            type: integer
        "1000":
          description: request error
          schema:
            type: integer
        "2000":
          description: error code and message and nil data
          schema:
            $ref: '#/definitions/base.Response'
      tags:
      - item
  /item/transfer:
    post:
      consumes:
      - application/json
      parameters:
      - description: to user id
        in: query
        name: to_user_id
        type: string
      - description: item id
        in: query
        name: item_id
        type: string
      produces:
      - application/json
      responses:
        "0":
          description: Operation Succeed
          schema:
            type: integer
        "1000":
          description: request error
          schema:
            type: integer
        "2000":
          description: error code and message and nil data
          schema:
            $ref: '#/definitions/base.Response'
      tags:
      - item
  /items/item-json:
    get:
      consumes:
      - application/json
      parameters:
      - description: token id of one NFT
        in: query
        name: token-id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "0":
          description: 'Operation Succeed, code: 0'
          schema:
            type: integer
        "400":
          description: request error
          schema:
            type: integer
        "500":
          description: error code and message and nil data
          schema:
            $ref: '#/definitions/base.Response'
      tags:
      - item
  /list/collection:
    get:
      consumes:
      - application/json
      parameters:
      - description: collection id
        in: path
        name: collection_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "0":
          description: 'Operation Succeed, code: 0'
          schema:
            type: integer
        "400":
          description: request error
          schema:
            type: integer
        "500":
          description: error code and message and nil data
          schema:
            $ref: '#/definitions/base.Response'
      tags:
      - list
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
